@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #655df0;
  --bottom-nav-gradient: linear-gradient(to bottom right, #3b82f6, #9333ea);
  --bg-page-color: #f4f6fb;
}

body {
  font-family: "Poppins", sans-serif;
}
body,
input {
  color: black;
}
/* Hide arrows in Chrome, Brave, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#btn_ph_login {
  width: 100%;
}

.home-page-top-bar-section {
  height: 100px;
  width: 100%;
  background: url("https://i.pinimg.com/originals/d0/b1/7b/d0b17ba77ac4040b809d914843e17ac8.gif");
  background-size: cover; /* Ensures it covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

.gradient-background {
  background: linear-gradient(to bottom right, #9333ea, #3b82f6);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    transform: translateY(-10%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease-in-out;
}
