@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
body,
input {
  color: black;
}
/* Hide arrows in Chrome, Brave, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#btn_ph_login {
  width: 100%;
}

.home-page-top-bar-section {
  height: 100px;
  width: 100%;
  background: url("https://i.pinimg.com/originals/d0/b1/7b/d0b17ba77ac4040b809d914843e17ac8.gif");
  background-size: cover; /* Ensures it covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}
